.freeCourse-card {
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px; /* Reduced margin */
 /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
  border: solid;
}

.mb-45 {
  width: 30%;
  justify-content: space-around;
  height: 70vh;
  /* border: solid; */
  margin-bottom: -70px; /* Reduced margin */
}

.freeCourse-section {
  margin-left: 50px;
}

.form-container {
  background-color: #f9f9f9; /* Light grey background */
  width: 30%;
  /* border: solid; */
  /* margin-left: -1000px; */

  margin: 0 auto; /* Center the form */
  padding: 20px;
  /* margin-top: -100px; */

  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}

.form-container input {
  margin-bottom: 15px;
}

.form-container button {
  width: 100%;
}
.freeCourse-section{
  margin-left: 100px;
}
