/* testimonial.css */

/* Testimonial Section */
.testimonial__section {
  margin-top: 50px;
  padding: 80px 0; /* Adjust padding as needed */
  background-color: #f8f9fa; /* Light background color */
}

.testimonial__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: teal; */
}

.testimonial__img {
  flex: 1;
  max-width: 400px;
}

.testimonial__image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for image */
}

.testimonial__content {
  flex: 1;
  padding: 0 20px;
}

.testimonial__title {
  font-size: 28px;
  font-weight: bold;
  margin-right: 390px;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

/* Testimonial Cards */
.testimonial__cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.testimonial__card {
  background-color: #fff; /* White background for cards */
  padding: 20px;
  border-radius: 8px; /* Rounded corners for cards */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.testimonial__quote {
  font-size: 16px;
  font-style: italic;
  color: #666; /* Medium gray text color */
}

.student__info {
  margin-top: 10px;
}

.student__name {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.student__location {
  font-size: 14px;
  color: #666; /* Medium gray text color */
}
